[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {git = "https://github.com/Rapptz/discord.py"}
pydantic = "*"
orjson = "*"
jishaku = "*"
motor = {extras = ["srv"], version = "*"}
emojiflags = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
